<!-- <div class="flex">
<div class="bg-white p-20 rounded-lg mb-10 mt-[-150px]">
  <h2 class="text-2xl font-bold text-gray-900 mb-4">
       <span class="relative">
         <span class="text-gray-900">Glass</span> 
         <span class="underline absolute left-0 bottom-[-10px] w-full h-[2px] bg-gray-400"></span> 
       </span> Performance Calculator
     </h2>
  <div class="flex justify-center relative">
  <p class="text-sm text-gray-600 mb-6 p-1">
    Accurately assess the thermal, acoustic, and structural<br> performance of glass with our Glass Performance <br>Calculator
    for optimized project results.
  </p>
  <img src="assets/Images/glass-performace.png" alt="Calculator Image" class="absolute bottom-[-50px] right-[-20px] w-20 h-20 rounded-full">
</div>
<a href="#" class="flex text-blue-600 hover:underline mt-6 block">Learn More →</a>
</div>
</div> -->

<div class="flex md:flex-col">
<div class="bg-white p-20 ml-12 md:mt-0 mb-10 mt-[-160px] shrink-0 ">
  <h2 class="text-2xl font-bold text-gray-900 mb-4">
       <span>
         <span class="text-gray-900">Glass</span> 
         <span class="underline w-full h-[2px] bg-gray-400 mt-1"></span> 
       </span> Performance Calculator
     </h2>
  <div class="flex flex-col justify-center shrink-0">
  <p class="text-sm text-gray-600 mb-6 p-1">
    Accurately assess the thermal, acoustic, and structural<br> performance of glass with our Glass Performance <br>Calculator
    for optimized project results.
  </p>
  <img src="assets/Images/glass-performace.png" alt="Calculator Image" class="w-20 h-20 rounded-full md:w d:h-40 mb-6 md:mb-0 md:ml-auto md:w-20 md:h-20 shrink-0">
</div>
<a href="#" class="flex text-black-600 hover:underline mt-6 block">Learn More →</a>
</div>
</div>








