<div class="flex md:flex-col">
<div class="bg-white p-20 border-l-2 translate-x-[-90px] translate-y-4 rounded-lg ml-12 md:mt-0 mb-10 mt-[-100px] shrink-0">
    <h2 class="text-2xl font-bold text-gray-900 mb-2 mt-[-100px]">
       <span>
         <span class="text-gray-900">Cloud</span> 
         <span class="underline w-full h-[2px] bg-gray-400 mt-1"></span> 
       </span> Based SaaS Solution
     </h2>
    <div class="flex flex-col justify-center shrink-0">
    <p class="text-sm text-gray-600 mb-6 p-1">
      Leverage our Cloud-Based SaaS Solution for seamless<br> access, real-time collaboration, and scalable<br> management of glass 
      projects from anywhere<br> anytime
    </p>
    <img src="assets/Images/cloud.png" alt="Calculator Image" class="w-20 h-20 shrink-0 rounded-full md:w d:h-40 mb-6 md:mb-0 md:ml-auto md:w-20 md:h-20">
  </div>
  <a href="#" class="text-black-600 hover:underline mt-[-10] block">Learn More →</a>
  </div>
</div>


  
