
<app-buy-glass></app-buy-glass>

<div class="container responsive-grid">
  <div class="p-4 bg-white rounded-lg grid sm:grid-cols-1 md:grid-cols-2 gap-4">
  <div class="border-b border-gray-300 md:border-b-0 md:border-r">
    <app-order-sample></app-order-sample>
  </div>
  <div class="border-b border-gray-300 md:border-b-0">
    <app-glass-performance-calculator></app-glass-performance-calculator>
  </div>
  <div class="md:border-r">
    <app-delivery-management-system></app-delivery-management-system>
  </div>
  <div>
    <app-cloud-saas-solution></app-cloud-saas-solution>
  </div>
</div>
</div>
<app-green-building-solution></app-green-building-solution>
