<div class="flex md:flex-col">
<div class="bg-white p-20 rounded-lg ml-12 mt-[-100px] md:mt-0 mb-10 shrink-0">
    <h2 class="text-2xl font-bold text-gray-900 mb-2 mt-[-100px]">
      <span>
         <span class="text-gray-900">Delivery</span> 
         <span class="underline w-full h-[2px] bg-gray-400 mt-1"></span> 
       </span> Management System
     </h2>
  <div class="flex flex-col justify-center shrink-0"> 
    <p class="text-sm text-gray-600 mb-4 p-1">
      Streamline your entire delivery process with that<br>Delivery Management System, offering real-time<br>
      tracking, automated scheduling, and efficient logistics<br> management
    </p>
    <img src="assets/Images/delivery-management.png" alt="delivery-management Image" class="w-20 h-20 shrink-0 rounded-full md:w d:h-40 mb-4 md:mb-0 md:ml-auto md:w-20 md:h-20">
  </div>
  
  <a href="#" class="text-black-600 hover:underline mt-[-10] block">Learn More →</a>
</div>
</div>


