<div class="relative bg-white p-20 rounded-lg ml-12 mt-[-100px]">
    <h2 class="text-2xl font-bold text-gray-900 mb-4">
       <span class="relative">
         <span class="text-gray-900">Delivery</span> 
         <span class="underline absolute left-0 bottom-[-10px] w-full h-[2px] bg-gray-400"></span> <!-- Lighter underline -->
       </span> Management System
     </h2>
  <div class="relative"> 
    <p class="text-sm text-gray-600 mb-4 p-1">
      Streamline your entire delivery process with that<br>Delivery Management System, offering real-time<br>
      tracking, automated scheduling, and efficient logistics<br> management
    </p>
    <img src="assets/Images/delivery-management.png" alt="delivery-management Image" class="absolute bottom-[-20px] right-[100px] w-20 h-20 squared-full">
  </div>
  
  <a href="#" class="text-blue-600 hover:underline mt-6 block">Learn More →</a>
</div>



