<div class="relative bg-white p-20 rounded-lg ml-12 mt-[-140px]">
    <h2 class="text-2xl font-bold text-gray-900 mb-4">
       <span class="relative">
         <span class="text-gray-900">Order</span> 
         <span class="underline absolute left-0 bottom-[-10px] w-full h-[2px] bg-gray-400"></span> <!-- Lighter underline -->
       </span> Sample & Rent a Mock-up
     </h2>
  <div class="relative"> 
    <p class="text-sm text-gray-600 mb-4 p-1">
      Order custom glass samples or rent full-scale mock-<br>ups to visualize, test, and ensure the perfect fit for<br> your project,
      with expert guidance and flexible <br>options
    </p>
    <img src="assets/Images/order.png" alt="Sample Image" class="absolute bottom-[-20px] right-[100px] w-20 h-20 rounded-full">
  </div>
  <a href="#" class="text-blue-600 hover:underline mt-6 block">Learn More →</a>
</div>

