<div class="p-24 bg-white rounded-lg grid grid-cols-1 md:grid-cols-2 gap-2">
<div class="p-12 bg-white rounded-lg shadow-md mt-[-150px]">
   <h2 class="text-2xl font-bold text-gray-900 mb-4">
      <span class="relative">
        <span class="text-gray-900">Green</span> 
        <span class="underline absolute left-0 bottom-[-10px] w-full h-[2px] bg-gray-400"></span> <!-- Lighter underline -->
      </span> Building Solution
    </h2>
 <p class="text-sm text-gray-600 mb-6 p-1">
    Connect with top suppliers worldwide, ensuring timely delivery and quality <br>assurance 
    connect with top supplier worldwide, ensuring timely delivery<br>
    and quality assurance.
  </p>
<a href="#" class="text-blue-600 hover:underline mt-6 block">Learn More →</a>
</div>
    <div class="flex justify-center items-center mt-[-150px]">
      <img src="assets/Images/image-glass.png" alt="Glass Facade" class="rounded-lg object-cover w-half h-half">
    </div>
  

    
    